/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* initializing tags */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Variables declaration */
:root {
  /* Colors */
  --green: #51A967;
  --red: #e8505b;
  --black: #000000;
  --gray-dark-trans: rgb(51, 51, 51, 0.4);
  --gray-dark: #333333;
  --gray-normal: #888888;
  --gray-light: #eeeeee;
  --white: #FFFFFF;
  /* Sizes */
  --size8: 0.5rem; /* 8px */
  --size16: 1rem; /* 16px */
  --size24: 1.5rem; /* 24px */
  --size32: 2rem; /* 32px */
  --size40: 2.5rem; /* 40px */
  --size48: 3rem; /* 48px */
  --size56: 3.5rem; /* 56px */
  --size64: 4rem; /* 64px */
}

body {
  background-color: var(--gray-light);
}

/* Base Classes */
.flex {
  display: flex;
}

.px-8 {
  padding-left: var(--size8);
  padding-right: var(--size8);
}

.md-show, .sm-show {
  display: none;
}

.md-hide, .sm-hide {
  display: block;
}

/* HEADER */
header, #nav-header {
  width: 100%;
}

#nav-header {
  height: 80px;
  padding: 0 var(--size24);
  background-color: var(--green);
  color: var(--white);
  justify-content: space-between;
  align-items: center;
}

#nav-header h1 {
  font-size: var(--size32);
}

#nav-menu, #nav-menu-mobile {
  height: 100%;
  list-style: none;
}

#nav-menu li {
  align-items: center;
  padding: var(--size16);
  font-size: var(--size24);
  cursor: pointer;
}

#nav-menu li:hover {
  background-color: var(--red);
}

.menu-item a {
  text-decoration: none;
  color: var(--white);
  height: 100%;
  align-items: inherit;
}

#nav-menu-mobile {
  display: none;
  align-items: center;
  font-size: var(--size24);
}

.shopping-cart-items {
  background-color: var(--gray-dark-trans);
  padding: var(--size8);
  border-radius: 32px;
}

/* SECTION BANNER */
#section-banner {
  flex-wrap: wrap;
  padding: var(--size24) var(--size32);
}

#section-banner h2 {
  width: 100%;
  text-align: center;
  padding-bottom: var(--size24);
  font-size: var(--size40);
}

#banner-img, #banner-text {
  width: 50%;
}

#banner-img {
  padding-right: var(--size16);
}

#banner-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

#banner-text {
  padding-left: var(--size16);
  flex-direction: column;
  justify-content: center;
}

#banner-text h3 {
  font-size: var(--size32);
  margin-bottom: var(--size16);
}

#banner-text p {
  font-size: var(--size24);
  font-weight: 300;
}

/* SECTION PRODUCTS */
#section-products {
  background-image: url("https://images.unsplash.com/photo-1531914082256-1b9047242426?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80");
  padding: var(--size32) var(--size24);
}

#products-menu {
  list-style: none;
  height: 50px;
  color: var(--white);
}

#products-menu li {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--red);
  cursor: pointer;
}

#products-menu li:hover, .tab-active {
  background-color: var(--green) !important;
}

.products-tab {
  display: none;
  margin-top: var(--size32);
}

.product-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin: var(--size8);
}

.product img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px 0px 0px 8px;
}

#product-text {
  width: 180px;
  background-color: var(--gray-light);
  border-radius: 0px 8px 8px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#product-text div {
  margin: var(--size16);
  align-items: center;
}

#product-text ul {
  list-style: none;
}

.btn {
  margin: var(--size16) 0;
  padding: var(--size8) var(--size16);
  color: var(--white);
  background-color: var(--green);
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.btn:active {
  transform: scale(1.1);
}

/* SECTION PAYMENTS */
#section-payments {
  padding: var(--size24) var(--size32);
}

#payment-text, #payment-methods, #payment-methods i {
  width: 50%;
}

#payment-text {
  font-size: var(--size24);
  font-weight: 300;
  flex-direction: column;
  justify-content: space-around;
}

#payment-methods {
  flex-wrap: wrap;
  align-content: center;
}

#payment-text i, #payment-methods i {
  text-align: center;
  font-size: 200px;
  color: var(--green);
}

/* FOOTER */
footer {
  background-color: var(--red);
  color: var(--white);
  padding: var(--size16) var(--size24);
}

#nav-footer {
  justify-content: space-evenly;
  align-items: center;
}

#nav-footer p {
  font-size: var(--size24);
}

#footer-menu {
  list-style: none;
}

#footer-menu li {
  padding: var(--size16);
  font-size: var(--size64);
}

/* On tablet */
@media(max-width: 720px) {
  body {
    font-size: 12px;
  }
  .md-show {
    display: block;
  }

  .md-hide {
    display: none;
  }

  /* HEADER */
  #nav-menu {
    display: none;
  }

  #nav-menu-mobile {
    display: flex;
  }

  /* SECTION BANNER */
  #section-banner h2 {
    text-align: left;
  }

  #banner-img img {
    height: 100%;
  }

  /* SECTION PRODUCTS */
  .product img {
    width: 110px;
    height: 100%;
  }

  #product-text {
    width: 150px;
  }

  /* SECTION PAYMENTS */
  #payment-text p {
    margin-bottom: var(--size16);
  }

  #payment-text i, #payment-methods i {
    font-size: 100px;
  }
}

/* On mobile */
@media(max-width: 640px) {
  .sm-show {
    display: block;
  }

  .sm-hide {
    display: none;
  }

  /* SECTION BANNER */

  #banner-img, #banner-text {
    width: 100%;
  }

  #section-banner h2 {
    margin-top: var(--size32);
  }

  /* SECTION PAYMENTS */
  #section-payments {
    flex-wrap: wrap;
  }

  #payment-text, #payment-methods {
    width: 100%;
  }

  #payment-text p {
    margin-bottom: var(--size32);
  }

  #payment-methods {
    flex-wrap: nowrap;
    align-content: center;
  }

  #payment-methods i {
    font-size: 50px;
  }
}